version: '3.7'

services:

  db:
    image: veronezi/sample-postgres
    ports:
      - "5432"
    environment:
      - RESTORE_BASE_BACKUP=${RESTORE_BASE_BACKUP:-}
      - DEBUG=false
      - POSTGRES_DB=todo
      - POSTGRES_USER=todo_user
      - POSTGRES_PASSWORD=todo_pass
    healthcheck:
      test: ["CMD", "bash", "/opt/create_base_backup.sh"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 20s
    volumes:
      - ./ft/target/volumes/backup:/opt/backup
      - ./ft/target/volumes/db_data:/var/lib/postgresql
