version: '3.7'

services:

  minio:
    image: veronezi/sample-minio
    ports:
      - "9000:9000"

  db:
    image: veronezi/sample-postgres
    ports:
      - "5432"
    environment:
      - WAIT_FOR=minio:9000
      - MINIO_URL=minio:9000
      - MINIO_ACCESS_KEY=TESTINGACCESS123
      - MINIO_SECRET_KEY=tesTingPass123
      - RESTORE_BASE_BACKUP=${RESTORE_BASE_BACKUP:-}
      - DEBUG=false
      - POSTGRES_DB=todo
      - POSTGRES_USER=todo_user
      - POSTGRES_PASSWORD=todo_pass

